/*css reset 样式初始化*/
body,dl,dt,dd,ul,ol,li,h1,h2,h3,h4,h5,h6,form,input,p,th,td{
    margin:0;
    padding:0;
    /*font-size: 14px;*/
    font-family:"微软雅黑";
    color:#666560;
}
header,footer,article,aside,section,nav,menu,hgroup,details,dialog,figure,figcaption{
    display:block
}
ol,li,ul,dl,dt,dd{
    list-style:none;
}
a{
    text-decoration:none;
}
input,img,button,label{
    border:none;
    outline:none;
    vertical-align: middle;
    padding:0;
}
table{
    border-collapse:collapse;
    border_spacing:0;
}

/*常用样式*/

.bold{
    font-weight: bold;
}



/*边框和padding不影响实际大小的css3新属性*/
.border-box{
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
}